@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #2374D7;
  font-family: var(--font-kaushan);
  font-size: 2.3rem;
}

p {
  font-size: 1.5rem;
  color: #333;
}

.workitem {
  overflow: hidden;
  position: relative;
  display: block
}

.workitem:hover img {
  top: -70px;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease
}

.workitem img {
  position: relative;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  top: 0
}

.workitem span {
  background: hsl(213, 72%, 49%);
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  color: white;
  line-height: 70px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  display: block
}